.body{
    background-color: rgb(101, 102, 103);
    text-align: center;
    justify-content: center;
}

.box1{
    width: 30px;
    height: 10px;
    background-color: aliceblue;
}
.box2{
    width:70px;
    height:150px;
    background-color: rgb(8, 249, 16);
    border-radius: 90%;
    border-color: azure;
    border-width: 3px;
}
